body {
    font-size: 10px;
    box-sizing:border-box;
    margin:0;
    padding:0;
    color:#000000;
    font-family: "Glass Antiqua";
    background-color:#eeebdb;
}
label {
    font-size:1.5rem;
    text-align:center;
}
h1, h2, h3, p {
    margin: 0;
}
.form-container {
    box-sizing:border-box;
    width:80%;
    margin:1rem auto;
    padding:2.5%;
    display:flex;
    flex-direction:column;
    align-items:center;
    border:0.3rem solid #000000;
    border-radius:5rem;
    background-color:rgba(22,159,36,0.5);
    align-items:center;
}
.card-container {
    box-sizing:border-box;
    width:80%;
    margin:1rem auto;
    padding:2.5%;
    display:flex;
    flex-direction:row;
    align-items:center;
    flex-wrap:wrap;
    border:0.3rem solid #000000;
    border-radius:5rem;
    background-color:rgba(22,159,36,0.5);
    justify-content:space-evenly;
}
.card {
    width:30%;
    border:0.2rem solid #000000;
    border-radius:5rem;
    text-align:center;
    margin-bottom:0.8rem;
}
.card-image {
    height: 10rem;
}
.card-header {
    font-size:3rem;
}
#header {
    font-size:3rem;
}
#sub-header {
    font-size:2rem;
}
.form {
    display:flex;
    flex-direction:column;
}
input {
    width:12rem;
}
button {
    width:12rem;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding:0;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content p {
    font-size: 1rem;
    display:block;
}
.dropdown-content p:hover {
    background-color: #d3d3d3;
}
  