body {
    font-size: 10px;
    box-sizing:border-box;
    margin:0;
    padding:0;
    color:#000000;
    font-family: "Glass Antiqua";
}
.container {
    box-sizing:border-box;
    display:flex;
    width:90%;
    margin:3rem auto;
    flex-direction:row;
    align-items:center;
    flex-wrap:wrap;
    padding:5%;
    justify-content:space-between;
    row-gap:5rem;
}
